.img__btn-home {
  width: 110px;
  margin-top: 5px;
}
.carousel-inner img {
  width: 136px;
  height: 66px;
  object-fit: cover;
}
.item {
  width: 136px;
  height: 66px;
  padding: 0 20px;
}
.list-item {
  width: 448px;
  overflow: hidden;
}
