html {
  // content
  --content-bg-color: #f7fafc;

  --image-home-primary-color: linear-gradient(to right, #fd235b, #fe4800);
  --image-banner-bg-color: linear-gradient(to right, #fd235b, #fe4800);
  --button-content-bg-color: ;
  --text-color-white: #fff;

  // home card
  --card-bg-color: #fff;

  // affiliate
  --text-color-black: #000;

  //suport
  --suport-bg-content-color: #fff;
  --support-bg-title: #26a1f3;
  --suport-table-title-bg-color: #edf7ff;
}
